body {
    margin: 0px;
    background-color: var(--light);
}

.header,
.footer {
    background-color: var(--dark);
    color: var(--light);
}

.header {
    position: fixed;
    padding: 10px 15px;
}

.header .composing {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    z-index: -1;
    padding-top: 70px;
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
}

.content .hideBG {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
}

.content .login .title {
    padding-top: 50px;
    padding-bottom: 30px;
}

.content .login .loginButton {
    display: flex;
    justify-content: space-around;
}

.content .home {
    width: 100%;
}

.content .home .row.upper {
    justify-content: space-around;
}

.content .home .upper .add .addForm {
    display: none;
}

.content .home .upper .add .addForm.show {
    display: block;
    border: 1px solid var(--dark);
    z-index: 99;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 65%;
    background-color: var(--light);
}

.content .home .upper .add .addForm {
    font-size: 1.2rem;
}

.content .home .upper .add .addForm .add-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content .home .upper .add .addForm .add-content input[type=date] {
    width: 16rem;
}

.content .home .list table {
    border: 1px solid var(--dark);
    width: 80%;
}

.content .home .list table tr td {
    border: 1px solid;
    height: 40px;
    text-align: center;
}

.content .home .list table tr td button {
    background-color: inherit;
}

.content .home .list table tr td button:active,
.content .home .list table tr td button:focus {
    outline: none;
    box-shadow: none;
}

.content .home .list table tr td .dropdown-menu {
    text-align: center;
    min-width: 0;
    padding: 0;
}

.content .home .list table tr td .dropdown-menu.show {
    margin: -0.5rem 0 0 !important;
    left: -0.7rem !important;
}

.content .home .list table tr td a {
    color: var(--dark);
}

.content .errorBlock {
    width: 200px;
    height: 150px;
    background-color: #f26d6d;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    animation: disappear 4s forwards;
}

@keyframes disappear {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.content .errorBlock ul {
    margin-top: 16px;
    padding-left: 20px;
}

.content .errorBlock ul li {
    font-size: 1rem;
}

.footer {
    position: fixed;
    bottom: 0;
    padding: 6px 15px;
}

.footer .composing {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    cursor: pointer;
}

a {
    color: var(--light);
}

a:hover {
    text-decoration: none;
}
